.AddItemInput {
    width: 100%;
    margin: 0px auto;
    animation-name: fly_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.AddItemInput input {
    padding: 20px;
    height: 60px;
    font-size: 20px;
    columns: #333;
    border: 1px solid gray;
    &:focus {
        box-shadow: 0 0 5px #666 inset;
    }
}

.AddItemInput input[type="text"] {
    width: 60%;
}
.AddItemInput input[type="number"] {
    width: 20%;
    margin-left: 5px;
}
