.singleEmployee {
    width: 700px;
    margin: 0px auto;
    padding: 40px;

    // box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;

    .singleEmployee_body {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 40px;

        > div {
            flex: 1;
        }

        .singleEmployee_image_container {
            display: flex;
            justify-content: center;
        }
        .singleEmployee_image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            background-color: black;
            border-radius: 50%;
        }
        .singleEmployee_information {
            font-size: 20px;

            > div {
                padding: 0px 0px 15px 0;
            }
        }
        .singleEmployee_fullName {
            font-size: 36px;
            padding-top: 0;
        }
        .singleEmployee_email {
            font-size: 20px;
            word-wrap: break-word;
        }
        .singleEmployee_socialNetworks {
            font-size: 35px;
            > span {
                display: inline-block;
                padding-right: 10px;
            }
        }
    }
}
.singleEmployee__right {
    white-space: wrap;
}
.singleEmployee_left {
    white-space: pre-wrap;
    border-right: 1px solid rgb(109, 109, 109);
}
.singleEmployee_footer {
    display: grid;
    width: 700px;
    grid-template-columns: 300px 300px;
    grid-gap: 40px;
    margin-top: 20px;

    .singleEmployeee_editButton {
        height: 40px;
        width: 100%;
        border: 1px solid black;
        font-size: 18px;
        background-color: white;
        color: #333;
       
        cursor: pointer;
    }
}
