@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap);.navbar {
  list-style: none;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  cursor: pointer;
  position: fixed;
  left: -70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: #333;
  padding-right: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar:hover {
  left: 0;
  padding-right: 0px;
}

.navbar:hover .navbar__arrow {
  opacity: 0;
  right: -5px;
}

.navbar li {
  height: 80px;
  display: -webkit-box;
  display: flex;
  font-size: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
}

.navbar li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: rgba(252, 71, 16, 0.61);
}

.nav__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.main__navbar {
  width: 80px;
}

.navbar__arrow {
  position: absolute;
  width: 20px;
  height: 60px;
  font-size: 20px;
  background-color: #333;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  top: 50%;
  right: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrived_items {
  display: none;
}

.inventoryWrapper {
  width: 100%;
}

.inventory {
  -webkit-box-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-spacing: 5px;
  width: 60%;
  min-width: 800px;
}

.inventory td,
th {
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
}

.inventory td {
  background-color: lightgray;
}

.inventory th {
  background-color: #251e21;
  color: white;
}

.tr__hoverable:hover {
  opacity: 0.5;
  cursor: pointer;
}

.AddItemInput {
  width: 100%;
  margin: 0px auto;
  -webkit-animation-name: fly_in;
          animation-name: fly_in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.AddItemInput input {
  padding: 20px;
  height: 60px;
  font-size: 20px;
  -webkit-columns: #333;
     -moz-columns: #333;
          columns: #333;
  border: 1px solid gray;
}

.AddItemInput input:focus {
  box-shadow: 0 0 5px #666 inset;
}

.AddItemInput input[type=text] {
  width: 60%;
}

.AddItemInput input[type=number] {
  width: 20%;
  margin-left: 5px;
}

.validation_errors {
  padding: 10px;
}

.btn__dark {
  border: none;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  cursor: pointer;
  margin-left: 10px;
}

.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  margin: 0px auto;
}

.card {
  border: 1px solid black;
  color: #333;
  display: -webkit-box;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.d__flex {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.card__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  height: 150px;
}

.card__header img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__body {
  font-size: 15px;
  width: 100%;
}

.card__footer {
  width: 100%;
}

.card__footer button {
  width: 100%;
  background-color: tomato;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  margin: 10px;
  cursor: pointer;
}

.btn__light {
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.flex__space_evenly {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.form__group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 20px;
  width: 50%;
}

.form__group input,
select {
  padding: 10px;
  color: #333;
  border: 1px solid grey;
  font-size: 20px;
  font-weight: bold;
}

.form__group input:focus,
select:focus {
  box-shadow: 0 0 5px #333 inset;
}

.form__group label {
  font-size: 20px;
}

.ease_in {
  -webkit-animation-name: fly_in;
          animation-name: fly_in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fly_in {
  from {
    opacity: 0;
    margin-left: 0px;
    overflow: hidden;
  }

  to {
    opacity: 1;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes fly_in {
  from {
    opacity: 0;
    margin-left: 0px;
    overflow: hidden;
  }

  to {
    opacity: 1;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-725deg);
            transform: rotate(-725deg);
  }
}

@keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-725deg);
            transform: rotate(-725deg);
  }
}

@-webkit-keyframes rotate2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  background-color: #1f1c1c;
  opacity: 0.6;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.employees {
  width: 60%;
  margin: 0px auto;
}

.employeeWrapepr {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.employee_image {
  width: 100%;
  max-height: 150px;
}

.employeeForm {
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  min-width: 800px;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.edit_employee_image {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica;
}

* {
  box-sizing: border-box;
}

.main {
  display: -webkit-box;
  display: flex;
  padding-top: 10%;
}

.main__content {
  width: 100%;
}

.invoiceModal__wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 200;
}

.invoiceModal {
  width: 60%;
  position: relative;
  margin-top: -300px;
  max-width: 800px;
  background-color: white;
  padding: 60px;
  border-radius: 10px;
}

.invoiceModal__header {
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid gray;
}

.invoiceModal__body {
  padding: 20px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.invoiceModal__body div {
  display: -webkit-box;
  display: flex;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: 20px;
  width: 80%;
}

.invoiceModal__body div label {
  font-weight: bold;
}

.invoiceModal__body div input {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: 1px solid gray;
}

.invoiceModal__body div input:focus {
  box-shadow: 0 0 5px #666 inset;
}

.invoiceModal__footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 40px;
}

.invoiceModal__footer form {
  width: 80%;
}

.add_invoice_button {
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.validationError {
  background-color: tomato;
  color: white;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  padding: 10px 20px;
  -webkit-animation-name: fade_in;
          animation-name: fade_in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
  }
}

.bance_wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.balance {
  padding: 20px;
  background-color: #251e21;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
}

.balance span {
  font-size: 12px;
}

.balance .button {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
}

.balance .button:hover {
  color: goldenrod;
}

.add_balance {
  padding: 15px 20px;
  font-size: 20px;
  position: absolute;
  bottom: 60px;
  white-space: nowrap;
  background-color: #251e21;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-animation: ease_up 0.2s linear 1 forwards;
          animation: ease_up 0.2s linear 1 forwards;
}

.add_balance input {
  width: 130px;
  height: 40px;
  border: none;
  overflow: hidden;
  font-size: 17px;
  padding: 5px 10px;
}

.add_balance button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-weight: bold;
}

@-webkit-keyframes ease_up {
  from {
    margin-left: 300px;
    opacity: 0;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes ease_up {
  from {
    margin-left: 300px;
    opacity: 0;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}

.singleEmployee {
  width: 30%;
  min-width: 700px;
  margin: 0px auto;
  padding: 40px;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.singleEmployee .singleEmployee_body {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 40px;
}

.singleEmployee .singleEmployee_body > div {
  -webkit-box-flex: 1;
          flex: 1;
}

.singleEmployee .singleEmployee_body .singleEmployee_image_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.singleEmployee .singleEmployee_body .singleEmployee_image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: black;
  border-radius: 50%;
}

.singleEmployee .singleEmployee_body .singleEmployee_information {
  font-size: 20px;
}

.singleEmployee .singleEmployee_body .singleEmployee_information > div {
  padding: 0px 0px 15px 0;
}

.singleEmployee .singleEmployee_body .singleEmployee_fullName {
  font-size: 36px;
  padding-top: 0;
}

.singleEmployee .singleEmployee_body .singleEmployee_email {
  font-size: 20px;
  word-wrap: break-word;
}

.singleEmployee .singleEmployee_body .singleEmployee_socialNetworks {
  font-size: 35px;
}

.singleEmployee .singleEmployee_body .singleEmployee_socialNetworks > span {
  display: inline-block;
  padding-right: 10px;
}

.singleEmployee__right {
  white-space: wrap;
}

.singleEmployee_left {
  white-space: pre-wrap;
  border-right: 1px solid #6d6d6d;
}

.singleEmployee_footer {
  display: grid;
  width: 700px;
  grid-template-columns: 300px 300px;
  grid-gap: 40px;
  margin-top: 20px;
}

.singleEmployee_footer .singleEmployeee_editButton {
  height: 40px;
  width: 100%;
  border: 1px solid black;
  font-size: 18px;
  background-color: white;
  color: #333;
  cursor: pointer;
}

